<html>

<head>
    <title>
        My First ML Web App!
    </title>
</head>

<body>

    <h1 style="color: green; margin: 10px 40% 10px;">What Is A Leap Year?</h1>
    <div style="width: 80%; margin: 100px auto 100px;">
        <h2> Description: </h2>
        <h3 style="text-align: justify;">
            A leap year (also known as an intercalary year or bissextile year) is a calendar year that contains an additional day (or, in the case of a lunisolar calendar, a month) added to keep the calendar year synchronized with the astronomical year or seasonal year.Because astronomical events and seasons do not repeat in a whole number of days, calendars that have the same number of days in each year drift over time with respect to the event that the year is supposed to track. By inserting (called intercalating in technical terminology) an additional day or month into the year, the drift can be corrected. A year that is not a leap year is a common year.

For example, in the Gregorian calendar, each leap year has 366 days instead of 365, by extending February to 29 days rather than the common 28. These extra days occur in each year which is an integer multiple of 4 (except for years evenly divisible by 100, which are not leap years unless evenly divisible by 400). The leap year of 366 days has 52 weeks and two days, hence the year following a leap year will start later by two days of the week.

        </h3>
        

    </div>
</body>

</html>
